.formInput {
    border-radius: 1px;
    box-shadow: 0 0 2px 0 #10b1df, inset 0 0 5px 0 #e5e5e5;
    background-color: #ffffff;
    border: solid 0.5px #10b1df;
    height: 32px;
    padding: 0 16px;
}